PORT=3001

CLIENT_SERVER_URL="http://localhost:3000"
IS_TESTING=true
SERVER_IP=

MONGO_URI=mongodb://127.0.0.1:27017/breakoutex-ai-engine
CRON_SCHEDULE="*/1 * * * *"

PAYLOAD_URL=https://breakoutex-ai-backend.vercel.app
PAYLOAD_API_KEY=

ENGINE_JWT_SECRET=
EXCHANGE_KEYS_ENCRYPTION_KEY=